# BASE DE DATOS
DB_URL=jdbc:postgresql://localhost:5432/sigcav_db
DB_USERNAME=
DB_PASSWORD=

# SERVIDOR
SERVER_PORT=8080

# JWT
# Generar con: openssl rand -base64 64
JWT_SECRETO=
JWT_EXPIRACION_SEGUNDOS=3600

# REFRESH TOKEN
REFRESH_TOKEN_EXPIRACION_DIAS=7

# SESION
SESION_INACTIVIDAD_MINUTOS=10
SESION_INTERVALO_LIMPIEZA_MS=60000

# CORS
CORS_ORIGENES_PERMITIDOS=http://localhost:3000

# LOGS
LOG_LEVEL=INFO
